{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <title>Django Learning</title>
</head>
<body>
    <h1>Hello Django</h1>
    <h2>Here are your acess records:</h2>
    <div class="records">
        {% if access_records %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Data Acccessed</th>
                </thead>
                {% for record in access_records%}
                <tr>
                    <td>{{record.name}}</td>
                    <td>{{record.date}}</td>
                </tr>
                {% endfor%}

            </table>
        {%else%}    
        <p>No records found</p>
        {% endif%}
    </div>
</body>
</html>