body{
    background-color: #ffe66d;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border: 25px solid #ff6b6b;
    border-top: 0px;
    margin: 0px;
}
p{
    padding: 10px 100px 10px 100px;
}
form{
    font-size: 1.5em;
    margin-bottom: 20px;
}
#submit{
    background: #4ecdc4;
    height: 50px;
    width: 150px;
    margin-top:5px;
    border-radius: 20px;
    font-size: 1em;

}